{
  "openapi": "3.0.3",
  "info": {
    "title": "黄雀 AI · 后端 API",
    "version": "1.0.0",
    "description": "黄雀 AI 内容工作台后端接口。\n\n**架构**：按能力拆成多个独立后端，nginx 按路径分发：\n- 采集获客 8100｜下载 8097｜作图 nano banana 8101｜内容生成+公共核心 8096｜登录 8095\n\n**鉴权**：除登录外，所有 `/api/gen/*` 需带 `Authorization: Bearer <token>`（登录获取）。\n\n**异步任务**：collect / leads / image / copy / audio / banana 都是异步——POST 提交拿 `job_id`，再轮询 `GET /api/gen/job/{id}` 直到 `status=done`，从 `result` 取结果。失败自动退点。"
  },
  "servers": [
    {
      "url": "https://huangquechuanmei.com",
      "description": "线上"
    }
  ],
  "tags": [
    {
      "name": "登录鉴权",
      "description": "8095 · 登录 / 点数"
    },
    {
      "name": "采集获客",
      "description": "8100 · 内容爬取 / 关键词搜 / 获客名单"
    },
    {
      "name": "作图",
      "description": "8101 · nano banana (Gemini 图像)"
    },
    {
      "name": "下载",
      "description": "8097 · 无水印视频下载"
    },
    {
      "name": "内容生成 / 公共",
      "description": "8096 · 作图(gpt-image) / 文案 / 配音 / 任务轮询 / 历史 / 文件"
    },
    {
      "name": "音频模块",
      "description": "8096 · 配音生成 / 音色 / 音频资产 / 个人音色槽位 / 豆包 VIP 复刻"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "登录拿到的 token，填到这里（Authorize 按钮）"
      }
    },
    "schemas": {
      "JobAccepted": {
        "type": "object",
        "description": "异步任务受理：拿 job_id 去轮询 /api/gen/job/{id}",
        "properties": {
          "job_id": {
            "type": "integer",
            "example": 125
          },
          "cost": {
            "type": "integer",
            "description": "本次扣的点数",
            "example": 10
          },
          "points_left": {
            "type": "integer",
            "description": "扣点后剩余",
            "example": 1552
          }
        }
      },
      "JobStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "running",
              "done",
              "error"
            ],
            "example": "done"
          },
          "result": {
            "type": "object",
            "description": "status=done 时的结果（结构随任务类型不同）",
            "nullable": true
          },
          "error": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "example": "点数不足"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "example": "tang"
          },
          "points": {
            "type": "integer",
            "example": 1552
          },
          "role": {
            "type": "string",
            "enum": [
              "member",
              "admin"
            ],
            "example": "member"
          }
        }
      },
      "AudioGenerateRequest": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "maxLength": 1200,
            "example": "欢迎来到黄雀传媒，这是一个专属音色配音测试。"
          },
          "voice": {
            "type": "string",
            "description": "公共音色 dapeng/zelong/paul；个人音色用 voice_key，例如 vip_S_dMKA8OR62",
            "example": "dapeng"
          },
          "speed": {
            "type": "number",
            "minimum": 0.5,
            "maximum": 2,
            "default": 1
          },
          "pitch": {
            "type": "integer",
            "minimum": -12,
            "maximum": 12,
            "default": 0
          },
          "volume": {
            "type": "integer",
            "minimum": -50,
            "maximum": 100,
            "default": 0
          }
        }
      },
      "AudioVoice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "scope": {
            "type": "string",
            "enum": [
              "public",
              "personal"
            ]
          },
          "username": {
            "type": "string"
          },
          "voice_key": {
            "type": "string",
            "example": "vip_S_dMKA8OR62"
          },
          "display_name": {
            "type": "string"
          },
          "provider_voice": {
            "type": "string",
            "example": "S_dMKA8OR62"
          },
          "preview_file": {
            "type": "string",
            "nullable": true
          },
          "preview_url": {
            "type": "string",
            "nullable": true
          },
          "slot_id": {
            "type": "string",
            "nullable": true,
            "description": "后端使用的豆包复刻槽位 id，前端不要直接展示给用户"
          },
          "created_at": {
            "type": "integer"
          },
          "updated_at": {
            "type": "integer"
          }
        }
      },
      "AudioAsset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "job_id": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "voice_id": {
            "type": "integer"
          },
          "voice_key": {
            "type": "string"
          },
          "file": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "speed": {
            "type": "number"
          },
          "pitch": {
            "type": "integer"
          },
          "volume": {
            "type": "integer"
          },
          "created_at": {
            "type": "integer"
          },
          "voice_name": {
            "type": "string",
            "nullable": true
          },
          "preview_url": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AudioVoiceSlot": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "user_id": {
            "type": "integer",
            "nullable": true
          },
          "slot_id": {
            "type": "string",
            "description": "后端使用的豆包复刻槽位 id，前端不要直接展示给用户",
            "example": "S_dMKA8OR62"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "training",
              "ready",
              "failed"
            ]
          },
          "voice_id": {
            "type": "integer",
            "nullable": true
          },
          "reclone_count": {
            "type": "integer"
          },
          "clone_started_at": {
            "type": "integer",
            "nullable": true
          },
          "clone_upload_at": {
            "type": "integer",
            "nullable": true
          },
          "clone_error": {
            "type": "string",
            "nullable": true
          },
          "preview_file": {
            "type": "string",
            "nullable": true
          },
          "preview_url": {
            "type": "string",
            "nullable": true
          },
          "voice_name": {
            "type": "string",
            "nullable": true
          },
          "voice_updated_at": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "CloneVipRequest": {
        "type": "object",
        "required": [
          "slot_id",
          "audio"
        ],
        "properties": {
          "slot_id": {
            "type": "string",
            "example": "S_dMKA8OR62"
          },
          "name": {
            "type": "string",
            "maxLength": 24,
            "example": "我的门店口播音色"
          },
          "audio": {
            "type": "string",
            "format": "byte",
            "description": "样音 base64，不带 data: 前缀"
          },
          "audio_format": {
            "type": "string",
            "enum": [
              "wav",
              "mp3",
              "m4a",
              "aac",
              "ogg"
            ],
            "default": "wav"
          }
        }
      },
      "CloneStatusResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "training",
              "ready",
              "failed"
            ]
          },
          "preview_url": {
            "type": "string",
            "nullable": true
          },
          "clone_error": {
            "type": "string",
            "nullable": true
          },
          "doubao_status": {
            "type": "integer",
            "nullable": true,
            "description": "豆包 status=2 表示复刻完成"
          },
          "doubao_demo_audio": {
            "type": "string",
            "nullable": true
          },
          "doubao_create_time": {
            "type": "integer",
            "nullable": true
          },
          "voice": {
            "$ref": "#/components/schemas/AudioVoice"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/auth/login": {
      "post": {
        "tags": [
          "登录鉴权"
        ],
        "summary": "登录",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "example": "tang"
                  },
                  "password": {
                    "type": "string",
                    "example": "12345678"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "登录成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "example": "hq_xxx"
                    },
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "账号或密码错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": [
          "登录鉴权"
        ],
        "summary": "当前登录用户 / 点数",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "未登录或过期"
          }
        }
      }
    },
    "/api/gen/collect": {
      "post": {
        "tags": [
          "采集获客"
        ],
        "summary": "内容爬取（贴链接，自动识别平台）",
        "description": "贴抖音/小红书链接，扒视频/图文 + 文案 + 评论区。异步，拿 job_id 轮询。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "抖音/小红书 完整链接或分享短链",
                    "example": "https://v.douyin.com/xxx/"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "douyin",
                      "xhs",
                      "channels"
                    ],
                    "description": "不贴 url 时手动指定平台"
                  },
                  "id": {
                    "type": "string",
                    "description": "配合 platform 用：视频/笔记 id"
                  },
                  "note_type": {
                    "type": "string",
                    "enum": [
                      "video",
                      "image"
                    ],
                    "description": "小红书时指定图文/视频"
                  },
                  "want": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "copy",
                        "comments",
                        "transcript"
                      ]
                    },
                    "description": "要哪些：文案/评论/口播逐字稿",
                    "example": [
                      "copy",
                      "comments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAccepted"
                }
              }
            }
          },
          "401": {
            "description": "未登录"
          },
          "402": {
            "description": "点数不足"
          }
        }
      }
    },
    "/api/gen/collect/search": {
      "get": {
        "tags": [
          "采集获客"
        ],
        "summary": "关键词搜视频（同步，扣 1 点）",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "douyin",
                "xhs"
              ]
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "美甲加盟"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "搜索结果",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "platform": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "cover": {
                            "type": "string"
                          },
                          "author": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "note_type": {
                            "type": "string"
                          },
                          "stats": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "points_left": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/gen/leads": {
      "post": {
        "tags": [
          "采集获客"
        ],
        "summary": "关键词获客（搜视频→扒评论→意图过滤→客户名单）",
        "description": "异步。给关键词+平台，挖出评论区高意向客户名单。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "keyword",
                  "platforms"
                ],
                "properties": {
                  "keyword": {
                    "type": "string",
                    "example": "美甲"
                  },
                  "platforms": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "douyin",
                        "xhs",
                        "channels"
                      ]
                    },
                    "example": [
                      "douyin",
                      "xhs"
                    ]
                  },
                  "count": {
                    "type": "integer",
                    "description": "抓取视频数",
                    "default": 50
                  },
                  "pages": {
                    "type": "integer",
                    "default": 1
                  },
                  "channels_targets": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "视频号盯号目标（视频号搜不了全网）"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "受理（result 内含 leads 名单）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAccepted"
                }
              }
            }
          },
          "401": {
            "description": "未登录"
          },
          "402": {
            "description": "点数不足"
          }
        }
      }
    },
    "/api/gen/banana": {
      "post": {
        "tags": [
          "作图"
        ],
        "summary": "nano banana 出图（Gemini 图像）",
        "description": "异步。nb2=主力(便宜/中文好)，pro=精品(4K/最强中文)。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "example": "暖金色美业海报，中间大字「黄雀」"
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "nb2",
                      "pro"
                    ],
                    "default": "nb2",
                    "description": "nb2=gemini-3.1-flash-image(10点)，pro=gemini-3-pro-image(18点)"
                  },
                  "ratio": {
                    "type": "string",
                    "enum": [
                      "1:1",
                      "9:16",
                      "16:9",
                      "3:4",
                      "4:3",
                      "2:3",
                      "3:2",
                      "4:5",
                      "5:4",
                      "21:9"
                    ],
                    "default": "1:1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "受理（result: {type:image, url, model, ratio}）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAccepted"
                }
              }
            }
          },
          "401": {
            "description": "未登录"
          },
          "402": {
            "description": "点数不足"
          }
        }
      }
    },
    "/api/gen/dl": {
      "get": {
        "tags": [
          "下载"
        ],
        "summary": "无水印视频下载代理",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "无水印 play_url（限定视频CDN域名防SSRF）"
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "下载文件名"
          }
        ],
        "responses": {
          "200": {
            "description": "mp4 附件（强制下载）",
            "content": {
              "video/mp4": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/gen/image": {
      "post": {
        "tags": [
          "作图"
        ],
        "summary": "作图 gpt-image-2（OpenAI，写实/局部改，12点；8096）",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string"
                  },
                  "ratio": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAccepted"
                }
              }
            }
          }
        }
      }
    },
    "/api/gen/copy": {
      "post": {
        "tags": [
          "内容生成 / 公共"
        ],
        "summary": "文案生成（3点）",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "受理",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAccepted"
                }
              }
            }
          }
        }
      }
    },
    "/api/gen/audio": {
      "post": {
        "tags": [
          "音频模块"
        ],
        "summary": "生成配音（4点，异步）",
        "description": "提交配音任务，返回 job_id。公共音色 dapeng/zelong/paul 走 OpenAI TTS；个人复刻音色 provider_voice 为 S_* 时走豆包 TTS。完成后写入 audio_assets。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudioGenerateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "受理，轮询 /api/gen/job/{id}",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAccepted"
                }
              }
            }
          },
          "401": {
            "description": "未登录"
          },
          "402": {
            "description": "点数不足"
          }
        }
      }
    },
    "/api/gen/job/{id}": {
      "get": {
        "tags": [
          "内容生成 / 公共"
        ],
        "summary": "轮询任意异步任务状态",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "任务状态",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/gen/history": {
      "get": {
        "tags": [
          "内容生成 / 公共"
        ],
        "summary": "资产 / 最近作品",
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "collect",
                "leads",
                "image",
                "copy",
                "audio"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "历史列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/gen/file/{name}": {
      "get": {
        "tags": [
          "内容生成 / 公共"
        ],
        "summary": "取生成的图/音频文件",
        "security": [],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "nb_1782630576316.png"
          }
        ],
        "responses": {
          "200": {
            "description": "文件二进制",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/gen/health": {
      "get": {
        "tags": [
          "内容生成 / 公共"
        ],
        "summary": "健康自检 / 当前装了哪些能力",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "caps": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/gen/audio/voices": {
      "get": {
        "tags": [
          "音频模块"
        ],
        "summary": "读取可用音色（公共 + 本人个人音色）",
        "responses": {
          "200": {
            "description": "音色列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AudioVoice"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "未登录"
          }
        }
      }
    },
    "/api/gen/audio/assets": {
      "get": {
        "tags": [
          "音频模块"
        ],
        "summary": "读取本人配音资产",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 120,
              "minimum": 1,
              "maximum": 120
            }
          }
        ],
        "responses": {
          "200": {
            "description": "配音资产列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AudioAsset"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "未登录"
          }
        }
      }
    },
    "/api/gen/audio/slots": {
      "get": {
        "tags": [
          "音频模块"
        ],
        "summary": "读取本人个人音色槽位",
        "description": "ready 且有 preview_url 才表示音色可试听、可用于配音。",
        "responses": {
          "200": {
            "description": "槽位列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AudioVoiceSlot"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "未登录"
          }
        }
      }
    },
    "/api/gen/audio/redeem-slot": {
      "post": {
        "tags": [
          "音频模块"
        ],
        "summary": "兑换个人音色槽位",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string",
                    "example": "HQVOICE-XXXX-XXXX"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "兑换成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "slot": {
                      "$ref": "#/components/schemas/AudioVoiceSlot"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "兑换码无效/已使用/无可用槽位"
          },
          "401": {
            "description": "未登录"
          }
        }
      }
    },
    "/api/gen/audio/clone-vip": {
      "post": {
        "tags": [
          "音频模块"
        ],
        "summary": "VIP 声音复刻上传（异步后台处理）",
        "description": "后端先标记槽位 training 并清空旧试听音频，再后台调用豆包上传接口。必须继续轮询 clone-status，等豆包 status=2 后生成测试音频，最终 ready。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloneVipRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "已进入 training",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "voice": {
                      "$ref": "#/components/schemas/AudioVoiceSlot"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "槽位不存在/次数用完/上传失败"
          },
          "401": {
            "description": "未登录"
          }
        }
      }
    },
    "/api/gen/audio/clone-status": {
      "get": {
        "tags": [
          "音频模块"
        ],
        "summary": "查询 VIP 复刻状态并生成试听音频",
        "description": "若豆包返回旧 create_time/demo_audio，会继续等待本次新结果；本次训练完成后调用豆包 TTS 生成测试音频，并更新 audio_voices.preview_url。",
        "parameters": [
          {
            "name": "slot_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "S_dMKA8OR62"
          }
        ],
        "responses": {
          "200": {
            "description": "当前状态",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "$ref": "#/components/schemas/CloneStatusResult"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "查询失败"
          },
          "401": {
            "description": "未登录"
          }
        }
      }
    }
  }
}
