{
  "openapi": "3.0.3",
  "info": {
    "title": "黄雀 AI · 后端 API",
    "version": "1.0.0",
    "description": "黄雀 AI 内容工作台后端接口。\n\n**架构**：按能力拆成多个独立后端，nginx 按路径分发：\n- 采集获客 8100｜下载 8097｜作图 nano banana 8101｜内容生成+公共核心 8096｜登录 8095\n\n**鉴权**：除登录外，所有 `/api/gen/*` 需带 `Authorization: Bearer <token>`（登录获取）。\n\n**异步任务**：collect / leads / image / copy / audio / banana 都是异步——POST 提交拿 `job_id`，再轮询 `GET /api/gen/job/{id}` 直到 `status=done`，从 `result` 取结果。失败自动退点。"
  },
  "servers": [
    { "url": "https://huangquechuanmei.com", "description": "线上" }
  ],
  "tags": [
    { "name": "登录鉴权", "description": "8095 · 登录 / 点数" },
    { "name": "采集获客", "description": "8100 · 内容爬取 / 关键词搜 / 获客名单" },
    { "name": "作图", "description": "8101 · nano banana (Gemini 图像)" },
    { "name": "下载", "description": "8097 · 无水印视频下载" },
    { "name": "内容生成 / 公共", "description": "8096 · 作图(gpt-image) / 文案 / 配音 / 任务轮询 / 历史 / 文件" }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "description": "登录拿到的 token，填到这里（Authorize 按钮）" }
    },
    "schemas": {
      "JobAccepted": {
        "type": "object",
        "description": "异步任务受理：拿 job_id 去轮询 /api/gen/job/{id}",
        "properties": {
          "job_id": { "type": "integer", "example": 125 },
          "cost": { "type": "integer", "description": "本次扣的点数", "example": 10 },
          "points_left": { "type": "integer", "description": "扣点后剩余", "example": 1552 }
        }
      },
      "JobStatus": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "enum": ["running", "done", "error"], "example": "done" },
          "result": { "type": "object", "description": "status=done 时的结果（结构随任务类型不同）", "nullable": true },
          "error": { "type": "string", "nullable": true }
        }
      },
      "Error": {
        "type": "object",
        "properties": { "detail": { "type": "string", "example": "点数不足" } }
      },
      "User": {
        "type": "object",
        "properties": {
          "username": { "type": "string", "example": "tang" },
          "points": { "type": "integer", "example": 1552 },
          "role": { "type": "string", "enum": ["member", "admin"], "example": "member" }
        }
      }
    }
  },
  "security": [ { "bearerAuth": [] } ],
  "paths": {
    "/api/auth/login": {
      "post": {
        "tags": ["登录鉴权"], "summary": "登录", "security": [],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": {
            "type": "object", "required": ["username", "password"],
            "properties": {
              "username": { "type": "string", "example": "tang" },
              "password": { "type": "string", "example": "12345678" }
            }
          } } }
        },
        "responses": {
          "200": { "description": "登录成功", "content": { "application/json": { "schema": {
            "type": "object",
            "properties": {
              "token": { "type": "string", "example": "hq_xxx" },
              "user": { "$ref": "#/components/schemas/User" }
            }
          } } } },
          "401": { "description": "账号或密码错误", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": ["登录鉴权"], "summary": "当前登录用户 / 点数",
        "responses": {
          "200": { "description": "OK", "content": { "application/json": { "schema": {
            "type": "object", "properties": { "user": { "$ref": "#/components/schemas/User" } }
          } } } },
          "401": { "description": "未登录或过期" }
        }
      }
    },
    "/api/gen/collect": {
      "post": {
        "tags": ["采集获客"], "summary": "内容爬取（贴链接，自动识别平台）",
        "description": "贴抖音/小红书链接，扒视频/图文 + 文案 + 评论区。异步，拿 job_id 轮询。",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": {
            "type": "object",
            "properties": {
              "url": { "type": "string", "description": "抖音/小红书 完整链接或分享短链", "example": "https://v.douyin.com/xxx/" },
              "platform": { "type": "string", "enum": ["douyin", "xhs", "channels"], "description": "不贴 url 时手动指定平台" },
              "id": { "type": "string", "description": "配合 platform 用：视频/笔记 id" },
              "note_type": { "type": "string", "enum": ["video", "image"], "description": "小红书时指定图文/视频" },
              "want": { "type": "array", "items": { "type": "string", "enum": ["copy", "comments", "transcript"] }, "description": "要哪些：文案/评论/口播逐字稿", "example": ["copy", "comments"] }
            }
          } } }
        },
        "responses": {
          "200": { "description": "受理", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JobAccepted" } } } },
          "401": { "description": "未登录" }, "402": { "description": "点数不足" }
        }
      }
    },
    "/api/gen/collect/search": {
      "get": {
        "tags": ["采集获客"], "summary": "关键词搜视频（同步，扣 1 点）",
        "parameters": [
          { "name": "platform", "in": "query", "required": true, "schema": { "type": "string", "enum": ["douyin", "xhs"] } },
          { "name": "keyword", "in": "query", "required": true, "schema": { "type": "string" }, "example": "美甲加盟" },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } }
        ],
        "responses": {
          "200": { "description": "搜索结果", "content": { "application/json": { "schema": {
            "type": "object",
            "properties": {
              "items": { "type": "array", "items": { "type": "object", "properties": {
                "id": { "type": "string" }, "platform": { "type": "string" }, "title": { "type": "string" },
                "cover": { "type": "string" }, "author": { "type": "string" }, "url": { "type": "string" },
                "note_type": { "type": "string" }, "stats": { "type": "object" }
              } } },
              "points_left": { "type": "integer" }
            }
          } } } }
        }
      }
    },
    "/api/gen/leads": {
      "post": {
        "tags": ["采集获客"], "summary": "关键词获客（搜视频→扒评论→意图过滤→客户名单）",
        "description": "异步。给关键词+平台，挖出评论区高意向客户名单。",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": {
            "type": "object", "required": ["keyword", "platforms"],
            "properties": {
              "keyword": { "type": "string", "example": "美甲" },
              "platforms": { "type": "array", "items": { "type": "string", "enum": ["douyin", "xhs", "channels"] }, "example": ["douyin", "xhs"] },
              "count": { "type": "integer", "description": "抓取视频数", "default": 50 },
              "pages": { "type": "integer", "default": 1 },
              "channels_targets": { "type": "array", "items": { "type": "string" }, "description": "视频号盯号目标（视频号搜不了全网）" }
            }
          } } }
        },
        "responses": {
          "200": { "description": "受理（result 内含 leads 名单）", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JobAccepted" } } } },
          "401": { "description": "未登录" }, "402": { "description": "点数不足" }
        }
      }
    },
    "/api/gen/banana": {
      "post": {
        "tags": ["作图"], "summary": "nano banana 出图（Gemini 图像）",
        "description": "异步。nb2=主力(便宜/中文好)，pro=精品(4K/最强中文)。",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": {
            "type": "object", "required": ["prompt"],
            "properties": {
              "prompt": { "type": "string", "example": "暖金色美业海报，中间大字「黄雀」" },
              "model": { "type": "string", "enum": ["nb2", "pro"], "default": "nb2", "description": "nb2=gemini-3.1-flash-image(10点)，pro=gemini-3-pro-image(18点)" },
              "ratio": { "type": "string", "enum": ["1:1", "9:16", "16:9", "3:4", "4:3", "2:3", "3:2", "4:5", "5:4", "21:9"], "default": "1:1" }
            }
          } } }
        },
        "responses": {
          "200": { "description": "受理（result: {type:image, url, model, ratio}）", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JobAccepted" } } } },
          "401": { "description": "未登录" }, "402": { "description": "点数不足" }
        }
      }
    },
    "/api/gen/dl": {
      "get": {
        "tags": ["下载"], "summary": "无水印视频下载代理",
        "parameters": [
          { "name": "url", "in": "query", "required": true, "schema": { "type": "string" }, "description": "无水印 play_url（限定视频CDN域名防SSRF）" },
          { "name": "name", "in": "query", "schema": { "type": "string" }, "description": "下载文件名" }
        ],
        "responses": { "200": { "description": "mp4 附件（强制下载）", "content": { "video/mp4": { "schema": { "type": "string", "format": "binary" } } } } }
      }
    },
    "/api/gen/image": {
      "post": {
        "tags": ["作图"], "summary": "作图 gpt-image-2（OpenAI，写实/局部改，12点；8096）",
        "requestBody": { "content": { "application/json": { "schema": {
          "type": "object", "properties": { "prompt": { "type": "string" }, "ratio": { "type": "string" } }
        } } } },
        "responses": { "200": { "description": "受理", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JobAccepted" } } } } }
      }
    },
    "/api/gen/copy": {
      "post": {
        "tags": ["内容生成 / 公共"], "summary": "文案生成（3点）",
        "requestBody": { "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": { "200": { "description": "受理", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JobAccepted" } } } } }
      }
    },
    "/api/gen/audio": {
      "post": {
        "tags": ["内容生成 / 公共"], "summary": "配音 / 数字人口播（4点，同事维护）",
        "requestBody": { "content": { "application/json": { "schema": { "type": "object" } } } },
        "responses": { "200": { "description": "受理", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JobAccepted" } } } } }
      }
    },
    "/api/gen/job/{id}": {
      "get": {
        "tags": ["内容生成 / 公共"], "summary": "轮询任意异步任务状态",
        "parameters": [ { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" } } ],
        "responses": { "200": { "description": "任务状态", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/JobStatus" } } } } }
      }
    },
    "/api/gen/history": {
      "get": {
        "tags": ["内容生成 / 公共"], "summary": "资产 / 最近作品",
        "parameters": [ { "name": "kind", "in": "query", "schema": { "type": "string", "enum": ["collect", "leads", "image", "copy", "audio"] } } ],
        "responses": { "200": { "description": "历史列表", "content": { "application/json": { "schema": { "type": "object", "properties": { "items": { "type": "array", "items": { "type": "object" } } } } } } } }
      }
    },
    "/api/gen/file/{name}": {
      "get": {
        "tags": ["内容生成 / 公共"], "summary": "取生成的图/音频文件", "security": [],
        "parameters": [ { "name": "name", "in": "path", "required": true, "schema": { "type": "string" }, "example": "nb_1782630576316.png" } ],
        "responses": { "200": { "description": "文件二进制", "content": { "application/octet-stream": { "schema": { "type": "string", "format": "binary" } } } } }
      }
    },
    "/api/gen/health": {
      "get": {
        "tags": ["内容生成 / 公共"], "summary": "健康自检 / 当前装了哪些能力", "security": [],
        "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object", "properties": { "caps": { "type": "array", "items": { "type": "string" } } } } } } } }
      }
    }
  }
}
